@{
    ViewData["Title"] = "Home Page";
}

<div id="Home">
    <h1>Hi!<br />My name is Elijah Maree V. Luis.</h1><br />
    <h5>Welcome to my page~!</h5>
</div>

<div id="About">
    <h1 class="text-center">About Me</h1>
    <div id="PFP">
        <img id="profile" src="~/css/Images/profile_pic.jpg" height="200px" width="200px"/>
    </div><div id="Personal">
        <br />
        <p>You may call me Ellie, and I'm currently a student from Quezon City University, taking the course of Bachelor of Science in Information Technology.</p>
        <p>My strengths are graphic design, research and documentation. I prefer working with a team who I can rely on. During my free time, I play games, chat with fandom friends, doodle sketches or leisure away.</p>
    <hr />
    <h4>Other Details</h4>
        <div id="Details">
            <p><strong>Address:</strong>&nbsp;Blk 1 Lot 8A, Summerville Subd., Sauyo Road, Novaliches, Q.C.</p>
            <p><strong>Birthday:</strong>&nbsp;December 24, 2001</p>
            <p><strong>Contact Number:</strong>&nbsp;09951827849/ 09949896948</p>
            <p><strong>Email:</strong>&nbsp;luis.elijahmaree.vidana@gmail.com</p>
            <p><strong>Socials:</strong></p>
            <img src="~/css/Images/facebook.png" width="25px" height="25px" style="border-radius:100%;" /><a href="https://www.facebook.com/elijahmaree.luis" style="text-decoration:none;color:#344A53;"> Facebook</a>&nbsp;&nbsp;&nbsp;
            <img src="~/css/Images/instagram.png" width="25px" height="25px" style="border-radius:100%;" /><a href="https://www.instagram.com/emv.luis/?hl=en" style="text-decoration:none;color:#344A53;"> Instagram</a>&nbsp;&nbsp;&nbsp;
            <img src="~/css/Images/youtube.png" width="25px" height="25px" style="border-radius:100%;" /><a href="https://www.youtube.com/channel/UCMGwL384W771F4iARBN5GLw" style="text-decoration:none;color:#344A53;"> Youtube</a>
        </div>
    </div>
</div>

<div id="Art">
    <h3>My Artworks</h3><br />
    <div class="gallery-wrap">
        <img src="~/css/Images/back.png" id="backBtn">
        <div class="gallery">
            <div>
                <span><img src="~/css/Images/pointillism.jpg" title="Haribon Pointillism"/></span>
                <span><img src="~/css/Images/cheshire_cat.jpg" title="Cheshire Cat" /></span>
                <span><img src="~/css/Images/mushroom_fairy_house.jpg" title="Mushroom House" /></span>
            </div>
            <div>
                <span><img src="~/css/Images/logo.png" title="Library Logo" /></span>
                <span><img src="~/css/Images/life_and_death.jpg" title="Life and Death" /></span>
                <span><img src="~/css/Images/sticker1.png" title="Fanart Sticker" /></span>
            </div>
            <div>
                <span><img src="~/css/Images/moltres.jpg" title="Moltres Fanart" /></span>
                <span><img src="~/css/Images/fanwork.gif" title="Fanart GIF" /></span>
                <span><img src="~/css/Images/fanart.jpg" title="Birthday Fanart" /></span>
            </div>
        </div>
        <img src="~/css/Images/next.png" id="nextBtn">
    </div>
</div>
<div class="other-games">
    <img src="~/css/Images/crane game.gif" width="100%" />
    <div class="crane-machine">
        <p>When I have the opportunity to play in an arcade, I always go for crane games. So far, I have won a few prizes. My other favorite games are Animal Crossing, Nintendogs, Cooking Mama and Boomberman in the past when I still played my Nintendo DS.</p>
    </div>
</div>
<div id="Games">
    <h3>My Favorite Games</h3>
    <div class="row">
        <div class="column">
            <div class="content">
                <a href="https://honkaiimpact3.hoyoverse.com">
                    <img src="~/css/Images/Honkai Impact 3rd.jpg" title="https://honkaiimpact3.hoyoverse.com" style="width:100%">
                </a>
                <h3>Honkai Impact 3rd</h3>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <a href="https://hsr.hoyoverse.com/en-us/">
                    <img src="~/css/Images/Honkai Star Rail.png" title="https://hsr.hoyoverse.com/en-us/" style="width:100%">
                </a>
                    <h3>Honkai Star Rail</h3>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <a href="https://re1999.bluepoch.com/">
                    <img src="~/css/Images/Reverse 1999.jpg" title="https://re1999.bluepoch.com/" style="width:100%">
                </a>
                    <h3>Reverse 1999</h3>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <a href="https://www.mergedragons.com/">
                    <img src="~/css/Images/Merge Dragons.png" title="https://www.mergedragons.com/" style="width:100%">
                </a>
                <h3>Merge Dragons</h3>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <a href="https://afkarena.lilith.com/">
                    <img src="~/css/Images/AFK Arena.jpg" title="https://afkarena.lilith.com/" style="width:100%">
                </a>
                    <h3>AFK Arena</h3>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <a href="https://www.roblox.com">
                    <img src="~/css/Images/Roblox.jpg" title="https://www.roblox.com" style="width:100%">
                </a>
                <h3>Roblox</h3>
            </div>
        </div>
    </div>
 </div>
